<div class="text-center">
  <div id="quickAuthShowToken" style="display:none;">
    <label> Grab your token here: </label>
    <input style="width:100%;" type="text" id="quickAuthTokenField" readonly="readonly" class="text-center" onClick="this.select();">
  </div>
  <div id="mixerError" style="display:none;">
    <div class="alert alert-danger" role="alert">
      Oh snap!  Looks like something went wrong: <strong id="errorMsgField"></strong>
    </div>
    <span><a href="/gettoken">Try Again</a></span><br />
  </div>
</div>
<div class="col-xs-12" style="padding-top:15px;">
  <div class="text-center">Want to revoke access? Log in at <a href='https://mixer.com/' target="_blank">Mixer</a> and Go to Account > OAuth Apps</div>
</div>
