<div class="text-center">
  <form>
    <div>
      <label> Grab your token here: </label>
      <input style="width:100%;" type="text" id="quickAuthTokenField" readonly="readonly" class="text-center" onClick="this.select();">
    </div>
  </form>
</div>
