<div class="text-center">
  <h2>Quickly generate a Mixer Oauth token for your channel</h2>
  <p>
    This application uses an implicit grant flow to grab your token. Therefore, the token will never be sent to our servers. For more information regarding implicit oauth grants click  <a href="http://oauthlib.readthedocs.io/en/latest/oauth2/grants/implicit.html" target="_blank">here</a>
  </p>
  <p>
    <small>

    </small>
  </p>
</div>
