<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BEAM quick OAUTH</title>
</head>
<body>
  <form  action="/auth" method="post">
    <% @display_scopes.each do |s| %>
      <div><input type="checkbox" name="selected_scopes[]" value="<%= s['scope_option_value'] %>"><small> <%= s["description"] %></small></div>
      <small>&nbsp;</small>
    <% end %>
    <input type="submit" name="token" value="get_token">
  </form>
</body>
</html>
