<div class="text-center">
  <h4>This is a site is an open source project dedicated to providing tools for developers looking to integrate with the <a href="http://mixer.com">Mixer</a> platform.</h4>
  <p>Currently this only includes an OAuth token generator. More to come!</p>
</div>
