<div class="text-center">
  <h2>Quickly generate a Mixer Oauth token for your channel</h2>
  <p>
    <small>
      (Technical: This application uses the <a href="https://github.com/justintv/Twitch-API/blob/master/authentication.md#implicit-grant" target="_blank">implicit grant flow</a> for the Twitch API to retrieve your token. This means that your token is only ever visible to your browser and not our server.)
    </small>
  </p>
</div>
