<div class="text-center">
  <h3>Please select which scopes you would like to request: </h3>
</div>
<form  action="/auth" method="post">
  <% scope_groups = @display_scopes.each_slice((@display_scopes.size/4.0).ceil).to_a %>
  <% scope_groups.each do |g| %>
    <div class="col-md-3">
      <% g.each do |s| %>
        <div title="<%= s['description'] %>" class="checkbox form-group">
          <label>
            <input type="checkbox" name="selected_scopes[]" value="<%= s['scope'] %>"><%= s['scope'] %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>
  <p>&nbsp;</p>
  <div class="form-group">
    <div class="text-center">
      <button type="submit" class="btn btn-default btn-lg">Get token</button>
    </div>
  </div>
</form>
