<div class="text-center">
  <h2>Quickly generate a Mixer OAuth token for your channel</h2>
  <p>
    This application uses an implicit grant flow to grab your token. Therefore, the token will never be sent to our servers. For more information regarding implicit OAuth grants click  <a href="http://oauthlib.readthedocs.io/en/latest/oauth2/grants/implicit.html" target="_blank">here</a>.
  </p><br />
  <h3>Please select which scopes you would like to request: </h3>
</div>
<form  action="/auth" method="post">
  <% scope_groups = @display_scopes.each_slice((@display_scopes.size/4.0).ceil).to_a %>
  <% scope_groups.each do |g| %>
    <div class="col-md-3">
      <% g.each do |s| %>
        <div title="<%= s['description'] %>" class="checkbox form-group">
          <label>
            <input type="checkbox" name="selected_scopes[]" value="<%= s['scope'] %>"><%= s['scope'] %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="col-xs-12">
    <div class="text-center" style="padding-top: 20px">
      <button type="submit" class="btn btn-default btn-lg">Get OAuth Token</button>
    </div>
  </div>
</form>
<div class="col-xs-12" style="padding-top:15px;">
  <div class="text-center">Want to revoke access? Log in at <a href='https://mixer.com/' target="_blank">Mixer</a> and Go to Account > OAuth Apps</div>
</div>
